---
import { Icon } from "astro-icon/components";
---

<button
  class="button relative cursor-pointer border border-black text-black rounded-full py-8 px-12 text-lg overflow-hidden focus:outline-none focus:border-2"
>
  <div
    class="button__filler absolute w-[150%] h-[200%] rounded-full -top-1/2 -left-1/4 transform translate-y-3/4 bg-black"
  >
  </div>
  <span
    class="button__text flex items-center justify-center w-full h-full gap-2"
  >
    <span
      class="button__text-inner flex items-center justify-center w-full h-full gap-2"
    >
      <Icon name="mdi:envelope-outline" class="button__icon w-8 h-8" />
      Contact Us
    </span>
  </span>
</button>

<script>
  import buttonCtrl from "./logic/button";

  const button: HTMLButtonElement | null = document.querySelector(".button");
  buttonCtrl(button);
</script>
