---
import BaseLayout from "../layouts/BaseLayout.astro";
import GalleryImage from "../components/GalleryImage/GalleryImage.astro";
import "../css/global.css";
---

<BaseLayout>
  <div class="container">
    <GalleryImage />
  </div>
</BaseLayout>
