---
import MagneticButton from "../MagneticButton/MagneticButton.astro";
---

<header class="container w-full flex m-auto items-center justify-between">
  <div>Logo</div>
  <nav></nav>
  <div>
    <MagneticButton />
  </div>
</header>

<style></style>
